<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="../asset/css/out.css">
    <title>Gerdo - checkout</title>
</head>
<body class="container">
    <section>
        <div class="entete row col-6 align-item-center">
            <img src="../asset/image/logo/logo gerdo.jpg" alt="Gerdo" class="col-2">
            <p class="col-2 align-item-center"><span>G</span>erdo</p>
        </div>
        <div class="corp">
            <p>
                Desole, la page demande est indisponible pour le moment; nous fesons tout notre possible pour y remedier
            </p>
            <p>
                N'esite pas a  profiter de tout nos service. <i>Merci !!</i>
            </p>
        </div>
    </section>
    <img src="../asset/image/checkout/3828535 copie.svg" alt="" class="back">
</body>
</html>