<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="../asset/bootstrap-icons-1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../asset/css/footer.css">
</head>
<body>
    <footer class=" container-fluid bg-dark text-light p-3">
        <div class="row note">
            <div class="col-md">
                <h5 class="text-capitalize fw-bolder">contenu</h5>
                <div class="d-flex flex-column">
                    <a href="" class="text-decoration-none text-light ">Cour gratuit</a>
                    <a href="" class="text-decoration-none text-light ">Touver son enseignant</a>
                    <a href="" class="text-decoration-none text-light ">Devenir prof</a>
                </div>
            </div>
            <div class="col-md">
                <h5 class="text-capitalize fw-bolder" >information</h5>
                <div class="d-flex flex-column">
                    <a href="" class="text-decoration-none text-light ">A propos de nous</a>
                    <a href="" class="text-decoration-none text-light ">Contact</a>
                </div>
            </div>
            <div class="col-md">
                <h5 class="text-capitalize fw-bolder" >Mention legal</h5>
                <div class="d-flex flex-column">
                    <a href="" class="text-decoration-none text-light ">Politique de confidentialiter</a>
                    <a href="" class="text-decoration-none text-light ">condition generale</a>
                    <a href="" class="text-decoration-none text-light ">Parametre de  cookies</a>
                </div>
            </div>
            <div class="col-md">
                <h5 class="text-capitalize fw-bolder">Nous suivre</h5>
                <div class="text-center icon">
                    <a href="https://web.facebook.com/groups/1470423866469606/"><i class="bi bi-facebook "></i></a>
                    <a href="https://chat.whatsapp.com/IW44tTCgXyqCrWfOdl3wsC"><i class="bi bi-whatsapp"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-telegram"></i></a>
                </div>
            </div>
        </div>
        <div class="row p-2 text-center">
            <div class=" copy col row">
                <span class="text-dark bg-light p-1 rounded-2 fw-bolder col-3 col-md">Gerdo</span>
                <p class=" col-5 col-md"> copyright &copy; 2024 || Tous droits réservés</p>
            </div>
            <div class="dropdown col-4 col-md">
                <button class="btn border-light text-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Francais
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">English</a></li>
                </ul>
              </div>
        </div>
    </footer>









    <script src="../asset/js/bootstrap.bundle.min.js"></script>
</body>
</html>