<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="../asset/css/conect.css">
    <link rel="stylesheet" href="../asset/css/footer.css">
    <title>Gerdo - inscription</title>
</head>
<body class="">
    <section>
        <main class="container  row mt-4 container row h-100 justify-content-center  align-items-center">
            <div class="fond col-md-7 sticky">
                <img src="../asset/image/connect/singin.svg" alt="">
           </div>
           <div class="submit col-md-5">
               <form action="../page/testconect.php" method="post">
                   <h2 class="text-center text-light"><span class="fw-bolder text-primary">G</span>erdo</h2>
                   <div class="formulaire">
       
                       <div class="champ mb-3">
                           <label for="name" class="form-label">Nom :</label>
                           <input type="text" name="name" id="name" class="form-control" placeholder="Enter votre nom">
                       </div>
       
                       <div class="champ mb-3">
                           <label for="prenom" class="form-label">Prenom :</label>
                           <input type="text" name="prenom" id="prenom" class="form-control" placeholder="Enter votre prenom">
                       </div>
       
                       <div class="champ mb-3">
                           <label for="mail" class="form-label">E-mail :</label>
                           <input type="email" name="mail" id="mail" class="form-control" placeholder="Entrer votre adresse mail">
                       </div>
       
                       <div class="champ mb-3">
                           <label for="pass1" class="form-label">Mot de passe :</label>
                           <input type="password" name="pass1" id="pass1" class="form-control" placeholder="saisir le mot de passe">
                       </div>
       
                       <div class="champ mb-3">
                           <label for="pass2" class="form-label">Confirmer le mot de passe :</label>
                           <input type="password" name="pass2" id="pass2" class="form-control" placeholder="saisir a nouveau pour confirmer">
                       </div>
                      
                       <div class="checkbox form-check">
                           <input type="checkbox" name="check" id="check" class="form-check-input">
                           <label for="check" class="form-check-label text-center">J'accepte la <a href="http://localhost/projet%20perso/gerdo/view/politique.html">politique de confidentialité et les conditions d'utilisateur</a></label>
                       </div>
                   </div>
                   <div class="validation text-center ">
                       <button class="btn btn-success m-3">s'inscrire</button>
                       <p class="text-light">Vous avez deja un compte ? <a href="http://localhost/projet%20perso/gerdo/view/login.html" >Connectez-vous</a></p>
                   </div>
               </form>
           </div>
        </main>
        
        <footer class=" container-fluid bg-dark text-light p-3">
            <div class="row note">
                <div class="col-md">
                    <h5 class="text-capitalize fw-bolder">contenu</h5>
                    <div class="d-flex flex-column">
                        <a href="" class="text-decoration-none text-light ">Cour gratuit</a>
                        <a href="" class="text-decoration-none text-light ">Touver son enseignant</a>
                        <a href="" class="text-decoration-none text-light ">Devenir prof</a>
                    </div>
                </div>
                <div class="col-md">
                    <h5 class="text-capitalize fw-bolder" >information</h5>
                    <div class="d-flex flex-column">
                        <a href="" class="text-decoration-none text-light ">A propos de nous</a>
                        <a href="" class="text-decoration-none text-light ">Contact</a>
                    </div>
                </div>
                <div class="col-md">
                    <h5 class="text-capitalize fw-bolder" >Mention legal</h5>
                    <div class="d-flex flex-column">
                        <a href="" class="text-decoration-none text-light ">Politique de confidentialiter</a>
                        <a href="" class="text-decoration-none text-light ">condition generale</a>
                        <a href="" class="text-decoration-none text-light ">Parametre de  cookies</a>
                    </div>
                </div>
                <div class="col-md">
                    <h5 class="text-capitalize fw-bolder">Nous suivre</h5>
                    <div class="text-center icon">
                        <a href="https://web.facebook.com/groups/1470423866469606/"><i class="bi bi-facebook "></i></a>
                        <a href="https://chat.whatsapp.com/IW44tTCgXyqCrWfOdl3wsC"><i class="bi bi-whatsapp"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-telegram"></i></a>
                    </div>
                </div>
            </div>
            <div class="row p-2 text-center">
                <div class=" copy col row">
                    <span class="text-dark bg-light p-1 rounded-2 fw-bolder col-3 col-md">Gerdo</span>
                    <p class=" col-5 col-md"> copyright &copy; 2024 || Tous droits réservés</p>
                </div>
                <div class="dropdown col-4 col-md">
                    <button class="btn border-light text-light dropdown-toggle" >
                      Francais
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">English</a></li>
                    </ul>
                  </div>
            </div>
        </footer>
    </section>
    




    <script src="../asset/js/bootstrap.bundle.min.js"></script>
    <script src="../asset/js/footer.js"></script>
</body>
</html>