body{
    background: rgba(4, 74, 121, 0.986);
    
}
main{
    padding-bottom: 20%;
}
main .submit a{
    color: rgb(92, 190, 255);
}
main  label{
    color: rgb(226, 226, 226);
    font-weight: bold;
}

















